body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./image/adminbackground.png");
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff69;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.typeFrame {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.title,
.gameTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 15px;
}

.titleButton {
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.titleButton:hover {
  background-color: #45a049;
}
.pieFrame {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  width: 190px;
}
.pie {
  width: 20%;
  margin-bottom: 30px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
}
.gameid {
  display: none;
}
.button:hover {
  background-color: #45a049;
}
.title,
.gameTitle {
  display: flex;
  justify-content: center;
}
.schedule {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-btn,
.submit-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}
.submit-btn {
  background-color: #27ae60;
  margin-left: 10px;
}
input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.scheduleContainer,
.barChart,
.pieFrame {
  display: none;
}
.futureGameFrame {
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
  padding-bottom: 10px;
}
.scheduleTime {
  font-size: 30px;
  font-weight: bold;
  margin: 0 50px;
}
.futureHomeImage,
.futureAwayImage {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.futureHomeFrame,
.futureAwayFrame {
  display: flex;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
  align-items: center;
}
.futurePerGame {
  font-weight: bold;
  margin-right: 10px;
}
.futureOdds {
  margin-left: auto;
  display: flex;
}
.futureHomeOdds,
.futureAwayOdds {
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
}
.futureTitle {
  color: black;
  font-weight: bold;
  font-size: 30px;
  padding: 30px;
  margin: 0 40px;
  border-bottom: 2px solid gray;
}
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.futurGamePerFrame {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px 40px;
  padding: 15px;
}
