html {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./image/background.png");
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0 30px 0;
}
.left-column {
  width: 23%;
  float: left;
  margin: 1%;
  box-sizing: border-box;
}
.navbar {
  padding: 0 40px 0 40px;
  font-size: 18px;
}
.navbar:hover {
  color: #ea7500;
}
.teamGame {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
}
.container {
  font-weight: bold;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 88%;
  margin: 0 6% 0 6%;
  float: left;
  box-sizing: border-box;
}
.status,
.note {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}
.leftColumnScore {
  display: flex;
}
.homeTeam,
.awayTeam {
  color: #888;
  flex: 1;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
