body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  background-image: url("./image/background.png");
}
a {
  text-decoration: none;
  color: black;
}
.header {
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo {
  width: 75px;
  height: 75px;
  margin: 3px;
}
.navbar {
  font-size: 18px;
  padding: 10px 40px;
  margin: 20px 0 20px 0;
  color: gray;
  font-weight: bold;
}
.navbar:hover {
  color: #ea7500;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background-color: transparent;
}

.rankcontainer {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

.rank-number {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.rank-details {
  margin-top: 20px;
  color: #555;
}

.rank-details span {
  font-weight: bold;
  color: #333;
}
